<!DOCTYPE HTML>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <p>A list of people:</p>
  <% if (people.length) { %>
    <ul>
      <% people.forEach(function(person){ %>
        <li><%= person %></li>
      <% }) %>
    </ul>
  <% } %>
  
  <p>An optional paragraph:</p>
  <% if (optext) { %>
    <p><%= optext %></p>
  <% } %>
  
  <% include footer %>
</body>
</html>
